<mat-toolbar>
  <span> Debounce Search - Tutorial 🚀</span>
</mat-toolbar>
<div align="center" [style.margin-top]="'2rem'">
  <mat-card class="example-card">
    <mat-card-subtitle>How to</mat-card-subtitle>
    <mat-card-title>Debouncing Search</mat-card-title>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <app-input
        [inputData]="inputData"
        (finalValue)="getFinalValue($event)"
      ></app-input>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button>{{dataFrom}}</button>
    </mat-card-actions>
    <mat-card-footer *ngIf="!dataFrom.length">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

<router-outlet></router-outlet>
